# Entorno virtual
venv/
env/
ENV/

# Variables de entorno
.env
.env.local
.env.production

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Base de datos
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Cobertura
.coverage
htmlcov/

# Archivos temporales
*.tmp
*.temp